<form>
  <div class="row">
    <!-- challenge name -->
    <div class="col-sm-12 col-md-4 col-lg-6">
      <div class="form-group">
        <label for="">Nombre del desafío:</label>
        <input type="text" name="name" [(ngModel)]="model.nombre" class="form-control" required>
      </div>
    </div>
    <!-- /challenge name -->
    <!-- description -->
    <div class="col-sm-12 col-md-12">
      <div class="form-group">
        <label for="" class="control-label">Descripción:</label>
        <textarea name="description" [(ngModel)]="model.descripcion" cols="30" rows="10" class="form-control" required>
        </textarea>
      </div>
    </div>
    <!-- /description -->
  </div>
  <div class="row">
    <!-- scenario url -->
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="form-group">
        <label for="" class="control-label">
          Url escenario inicial
        </label>
        <input [(ngModel)]="model.urlEscenarioInicial" name="urlEscenarioInicial" url type="text" class="form-control" required>
      </div>
    </div>
    <!-- /scenario url -->
    <!-- solution url -->
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="form-group">
        <label for="" class="control-label">
          Url solución
        </label>
        <input [(ngModel)]="model.urlSolucion" name="urlSolucion" type="text" class="form-control" url required>
      </div>
    </div>
    <!-- solution url -->
    <!-- solution id -->
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="form-group">
        <label for="" class="control-label">Id solución</label>
        <input [(ngModel)]="model.idSolucion" type="number" class="form-control" required>
      </div>
    </div>
    <!-- /solution id -->
  </div>
  <!-- row-1 -->
  <div class="row">
    <div class="col-sm-12">
      <hr>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="form-group">
        <!-- check-multipleSpriteEvents -->
        <div class="form-check">
          <label class="form-check-label">
            <input [(ngModel)]="model.multipleSpriteEvents" name="multipleSpriteEvents" class="form-check-input" type="checkbox"> Más de un sprite tiene eventos
            <span class="form-check-sign"></span>
          </label>
        </div>
        <!-- /check-multipleSpriteEvents -->
        <!-- check-variableUse -->
        <div class="form-check">
          <label class="form-check-label">
            <input [(ngModel)]="model.variableUse" name="variableUse" class="form-check-input" type="checkbox" value=""> Uso, y creación, de variables
            <span class="form-check-sign"></span>
          </label>
        </div>
        <!-- /check-variableUse -->
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="form-group">
        <!-- check-messageUse -->
        <div class="form-check">
          <label class="form-check-label">
            <input name="messageUse" [(ngModel)]="model.messageUse" class="form-check-input" type="checkbox" value=""> Uso correcto de mensajes
            <span class="form-check-sign"></span>
          </label>
        </div>
        <!-- /check-messageUse -->
        <!-- check-listUse -->
        <div class="form-check">
          <label class="form-check-label">
            <input [(ngModel)]="model.listUse" name="listUse" class="form-check-input" type="checkbox" value=""> Uso y creación de listas
            <span class="form-check-sign"></span>
          </label>
        </div>
        <!-- /check-listUse -->
      </div>
    </div>
  </div>
  <!-- /row-1 -->
  <!-- row-2 -->
  <div class="row mt-4">
    <div class="col-sm-6 col-md-4">
      <div class="form-group">
        <!-- check-nonUnusedBlocks -->
        <div class="form-check">
          <label class="form-check-label">
            <input [(ngModel)]="model.nonUnusedBlocks" name="nonUnusedBlocks" class="form-check-input" type="checkbox" value=""> Se usan todos los bloques
            <span class="form-check-sign"></span>
          </label>
        </div>
        <!-- /check-nonUnusedBlocks -->
        <!-- check-userDefinedBlocks -->
        <div class="form-check">
          <label class="form-check-label">
            <input [(ngModel)]="model.userDefinedBlocks" name="userDefinedBlocks" class="form-check-input" type="checkbox" value=""> Creación de bloques propios
            <span class="form-check-sign"></span>
          </label>
        </div>
        <!-- /check-userDefinedBlocks -->
        <!-- check-cloneUse -->
        <div class="form-check">
          <label class="form-check-label">
            <input [(ngModel)]="model.cloneUse" name="cloneUse" class="form-check-input" type="checkbox" value=""> Uso de clones
            <span class="form-check-sign"></span>
          </label>
        </div>
        <!-- /check-cloneUse -->
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="form-group">
        <!-- check-basicInputUse -->
        <div class="form-check">
          <label class="form-check-label">
            <input [(ngModel)]="model.basicInputUse" name="basicInputUse" class="form-check-input" type="checkbox" value=""> Uso de bloques de entrada
            <span class="form-check-sign"></span>
          </label>
        </div>
        <!-- /check-basicInputUse -->
        <!-- check-nonCreatedVariableUse -->
        <div class="form-check">
          <label class="form-check-label">
            <input [(ngModel)]="model.nonCreatedVariableUse" name="nonCreatedVariableUse" class="form-check-input" type="checkbox" value=""> Uso de variables no creadas
            <span class="form-check-sign"></span>
          </label>
        </div>
        <!-- /check-nonCreatedVariableUse -->
        <!-- check-spriteSensisng -->
        <div class="form-check">
          <label class="form-check-label">
            <input [(ngModel)]="model.spriteSensisng" name="spriteSensisng" class="form-check-input" type="checkbox" value=""> Uso de sensores de sprite
            <span class="form-check-sign"></span>
          </label>
        </div>
        <!-- /check-spriteSensisng -->
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="form-group">
        <!-- check-twoGreenFlagThread -->
        <div class="form-check">
          <label class="form-check-label">
            <input [(ngModel)]="model.twoGreenFlagThread" name="twoGreenFlagThread" class="form-check-input" type="checkbox" value=""> Uso de operadores básicos
            <span class="form-check-sign"></span>
          </label>
        </div>
        <!-- /check-twoGreenFlagThread -->
        <!-- check-mediumOperators -->
        <div class="form-check">
          <label class="form-check-label">
            <input [(ngModel)]="model.mediumOperators" name="mediumOperators" class="form-check-input" type="checkbox" value=""> Uso de operadores complejos
            <span class="form-check-sign"></span>
          </label>
        </div>
        <!-- /check-mediumOperators -->
        <!-- check-nestedOperators -->
        <div class="form-check">
          <label class="form-check-label">
            <input [(ngModel)]="model.nestedOperators" name="nestedOperators" class="form-check-input" type="checkbox" value=""> Uso de operadores anidados
            <span class="form-check-sign"></span>
          </label>
        </div>
        <!-- /check-nestedOperators -->
      </div>
    </div>
  </div>
  <!-- /row-2 -->
  <!-- row-3 -->
  <div class="row mt-4">
    <div class="col-sm-6 col-md-4">
      <div class="form-group">
        <!-- check-useSimpleBlocks -->
        <div class="form-check">
          <label class="form-check-label">
            <input [(ngModel)]="model.useSimpleBlocks" name="useSimpleBlocks" class="form-check-input" type="checkbox" value=""> Uso de bloques simples
            <span class="form-check-sign"></span>
          </label>
        </div>
        <!-- /check-useSimpleBlocks -->
        <!-- check-useMediumBlocks -->
        <div class="form-check">
          <label class="form-check-label">
            <input [(ngModel)]="model.useMediumBlocks" name="useMediumBlocks" class="form-check-input" type="checkbox" value=""> Uso de bloques complejos
            <span class="form-check-sign"></span>
          </label>
        </div>
        <!-- /check-useMediumBlocks -->
        <!-- check-useNestedControl -->
        <div class="form-check">
          <label class="form-check-label">
            <input [(ngModel)]="model.useNestedControl" name="useNestedControl" class="form-check-input" type="checkbox" value=""> Uso de bloques anidados
            <span class="form-check-sign"></span>
          </label>
        </div>
        <!-- /check-useNestedControl -->
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="form-group">
        <!-- check-secuenceUse -->
        <div class="form-check">
          <label class="form-check-label">
            <input [(ngModel)]="model.secuenceUse" name="secuenceUse" class="form-check-input" type="checkbox" value=""> Uso de secuencias
            <span class="form-check-sign"></span>
          </label>
        </div>
        <!-- /check-secuenceUse -->
        <!-- check-multipleThreads -->
        <div class="form-check">
          <label class="form-check-label">
            <input [(ngModel)]="model.multipleThreads" name="multipleThreads" class="form-check-input" type="checkbox" value=""> Usa más de un hilo por sprite
            <span class="form-check-sign"></span>
          </label>
        </div>
        <!-- /check-multipleThreads -->
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="form-group">
        <!-- check-twoGreenFlagThread -->
        <div class="form-check">
          <label class="form-check-label">
            <input [(ngModel)]="model.twoGreenFlagThread" name="twoGreenFlagThread" class="form-check-input" type="checkbox" value=""> Uso de operadores básicos
            <span class="form-check-sign"></span>
          </label>
        </div>
        <!-- /check-twoGreenFlagThread -->
        <!-- check-advancedEventUse -->
        <div class="form-check">
          <label class="form-check-label">
            <input [(ngModel)]="model.advancedEventUse" name="advancedEventUse" class="form-check-input" type="checkbox" value=""> Uso de operadores complejos
            <span class="form-check-sign"></span>
          </label>
        </div>
        <!-- /check-advancedEventUse -->
      </div>
    </div>
  </div>
  <!-- /row-3 -->
  
  <!-- submit-row -->
  <div class="row mt-4">
    <div class="col-sm-12">
      <div class="form-group text-center">
        <button class="btn btn-success">
          <i class="material-icons">check</i>
          ¡Crear desafío!
        </button>
      </div>
    </div>
  </div>
  <!-- /submit-row -->
</form>