<div class="row">
  <!-- loading-card -->
  <div class="col-sm-12" *ngIf="isLoading">
    <div class="card card-plain">
      <div class="card-body text-center mt-5">
        <app-loading></app-loading>
      </div>
    </div>
  </div>
  <!-- /loading-card -->
  <!-- main-card -->
  <div class="col-sm-12" *ngIf="!isLoading">
    <div class="card" [@animationState]="animationState">
      <!-- card-header -->
      <div class="card-header">
        <h4 class="card-title title">
          <h5 class="title category">
            Profesor: {{model.nombreProfesor}}
          </h5>
          Portales del curso
        </h4>
      </div>
      <!-- /card-header -->
      <!-- card-body -->
      <div class="card-body" data-background-color="gray">
        <div class="col-sm-12 offset-md-1 col-md-10">
          <!-- next-challenge-row -->
          <div class="row">
            <div class="col-sm-6 offset-md-4 col-md-4">
              <h5 class="title text-center">
                Próximo desafío
              </h5>
              <app-portal-card [challenge]="model.desafioPendiente">
              </app-portal-card>
            </div>
          </div>
          <!-- /next-challenge-row -->
          <!-- completed-challenges-row -->
          <div class="row">
            <div class="col-sm-12">
                <h6 class="title">Desafíos completados</h6>
            </div>
            <div class="col-sm-6 col-md-4" *ngFor="let challenge of model.desafiosRealizados">
              <app-portal-card [challenge]="challenge"> 
              </app-portal-card>
            </div>
          </div>
          <!-- /completed-challenges-row -->
        </div>
      </div>
      <!-- /card-body -->
    </div>
  </div>
  <!-- /main-card -->
</div>