<div class="col-sm-12 text-center" *ngIf="isLoading">
    <app-loading>
    </app-loading>
</div>

<div class="col-sm-12 text-center" *ngIf="!isLoading && !started">
    <button class="btn btn-round btn-success" (click)="start()">
        <fa-icon icon="play"></fa-icon>
    </button>
</div>

<div [hidden]="!started">
    <!-- inputs-div -->
    <div class="col-sm-12">
        <div class="form-group">
            <label for="" class="control-label">
                <h6>
                    <fa-icon icon="cubes"></fa-icon>
                    Paquetes transportados:
                </h6>
            </label>
            <span class="text-muted ml-2">{{gameScore}}</span>
        </div>
        <div class="form-group">
            <label for="" class="control-label">
                <h6>
                    <fa-icon icon="clock"></fa-icon>
                    Tiempo restante:
                </h6>
            </label>
            <span class="text-muted ml-2">{{seconds}}</span>
        </div>
    </div>
    <!-- /inputs-div -->
    <!-- game-canvas -->
    <div>
        <canvas id="game-canvas">
        </canvas>
    </div>
    <!-- /game-canvas -->
</div>