<!-- loading-div -->
<div class="text-center" *ngIf="isLoading">
  <app-loading></app-loading>
</div>
<!-- /loading-div -->
<!-- create-div -->
<div *ngIf="!model && !isLoading; else contentTemplate">
  <p class="text-muted text-center">No tienes calificaciones pendientes</p>
  <div class="text-center">
    <a [routerLink]='["../", nextChallenge]' *ngIf="nextChallenge" class="btn btn-success btn-round">
      Siguiente desafío
      <fa-icon icon="share"></fa-icon>
    </a>
    <button class="ml-1 btn btn-info btn-simple btn-round" (click)="onaddGrade()">
      Nueva calificación
      <fa-icon icon="plus-square"></fa-icon>
    </button>
  </div>
</div>
<!-- /create-div -->

<ng-template #contentTemplate>
  <!-- start-div -->
  <div *ngIf="!model.iniciada && !isLoading">
    <h6 class="title text-center">Comenzar desafío</h6>
    <div class="row">
      <!-- div-colab1 -->
      <div class="col-sm-12">
        <p class="text-muted text-center">Integrantes del equipo</p>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <label for="" class="control-label">
            <fa-icon icon="user-friends"></fa-icon>
            Integrante
          </label>
          <p class="text-muted pl-4">
            {{user.username}}
          </p>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <label for="" class="control-label">
            <fa-icon icon="user-friends"></fa-icon>
            Integrante
          </label>
          <select [(ngModel)]="colab1" name="colab1" id="" class="form-control">
            <option value="0">Sin colaborador</option>
            <option [value]="item.item1" *ngFor="let item of colabs">
              {{item.item2}}
            </option>
          </select>
        </div>
      </div>
      <!-- /div-colab1 -->
      <!-- div-colab2 -->
      <div class="col-sm-12">
        <div class="form-group">
          <label for="" class="control-label">
            <fa-icon icon="user-friends"></fa-icon>
            Integrante
          </label>
          <select [(ngModel)]="colab2" name="colab2" id="" class="form-control">
            <option value="0">Sin colaborador</option>
            <option [value]="item.item1" *ngFor="let item of colabs">
              {{item.item2}}
            </option>
          </select>
        </div>
      </div>
      <!-- /div-colab2 -->
    </div>
    <div class="text-center">
      <button class="btn btn-primary btn-round" (click)="onStartGrade()">
        <fa-icon icon="play"></fa-icon>
      </button>
    </div>
  </div>
  <!-- /start-div -->
  <!-- end-div -->
  <div *ngIf="model.iniciada && !isLoading">
    <h6 class="title">Desafío en curso</h6>
    <div class="row">
      <div class="col-sm-12">
        <a href="{{sceneUrl}}" target="_blank" class="btn btn-info btn-block btn-round">
          <fa-icon icon="link"></fa-icon> Ir al escenario
        </a>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <label for="" class="control-label">Id del projecto scratch</label>
          <div class="input-group">
            <div class="col-sm-8">
              <input type="number" [(ngModel)]="projectId" class="form-control">
            </div>
            <div class="col-sm-4">
              <button class="btn btn-sm btn-success btn-round" [disabled]="projectId <= 0" (click)="onEndGrade()">
                <fa-icon icon="check"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- /end-div -->
</ng-template>