<div class="card card-plain">
  <div class="card-header">
    <h6 class="title">
      Desafios del curso
      <app-toggle-button name="sf" [(ngModel)]="showForm" [btnClass]="'btn-info btn-icon btn-round btn-sm'" [btnIconOn]="'times'"
        [btnIconOff]="'plus'">
      </app-toggle-button>
    </h6>
    <div *ngIf="showForm">
      <app-teacher-course-add-challenge [courseId]="courseId">
      </app-teacher-course-add-challenge>
    </div>
  </div>
  <div class="card-body">
    <div class="">
      <div cdkDropList class="example-list" (cdkDropListDropped)="itemDropped($event)">
        <div class="item-draggable" *ngFor='let item of items' cdkDrag>
          <app-teacher-course-challenge-list-item [model]="item">
          </app-teacher-course-challenge-list-item>
        </div>
      </div>
    </div>
  </div>
</div>