<div class="card">
    <div class="card-header">
      <label for="">
        <i class="material-icons">book</i>
        Curso
      </label>
      <h4 class="title">{{model.nombre}}</h4>
      <h5 class="card-subtitle">Profesor: Profesor girafales</h5>
    </div>
    <div class="card-body">
      <p class="card-text">{{model.descripcion}}</p>
      <div class="col-sm-12 text-center">
        <a [routerLink]="'/student/course'" class="btn btn-info btn-round">Ir al curso</a>
      </div>
    </div>
  </div>