<div class="row">
  <div class="col-sm-12 offset-md-1 col-md-10">
    <div class="row">

      <div class="col-sm-6 col-md-4">
        <app-portal-card [title]="'Portal 1'" [subtitle]="'El desafío de la colina'">
        </app-portal-card>
      </div>

      <div class="col-sm-6 col-md-4">
        <app-portal-card [title]="'Portal 2'" [subtitle]="'Paralelismos engañosos'">
        </app-portal-card>
      </div>

      <div class="col-sm-6 col-md-4">
        <app-portal-card [title]="'Portal 3'" [subtitle]="'Condicionales extraviados'">
        </app-portal-card>
      </div>

    </div>
  </div>
</div>