<div class="row">
  <!-- loading-section -->
  <div class="col-sm-12" *ngIf="isLoading">
    <!-- loading-card -->
    <div class="card card-plain">
      <div class="card-body text-center">
        <app-loading></app-loading>
      </div>
    </div>
    <!-- /loading-card -->
  </div>
  <!-- /loading-section -->
  <!-- challenges-section -->
  <div class="col-sm-12" *ngIf="!isLoading">
    <div class="card card-plain">
      <div class="card-header">
        <h6 class="text-center">
          Desafíos completados
        </h6>
      </div>
      <div class="card-body px-0">
        <app-teacher-course-student-challenge [model]="item" *ngFor="let item of model">
        </app-teacher-course-student-challenge>
      </div>
    </div>
  </div>
  <!-- /challenges-section -->
</div>
