<!-- loading-row -->
<div class="row" *ngIf="isLoading">
  <div class="col-sm-12 text-center">
    <div class="card card-plain mt-5">
      <div class="card-body">
        <div class="col-sm-12 text-center">
          <app-loading></app-loading>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /loading-row -->

<!-- cards-row -->
<div class="row" *ngIf="!isLoading">
  <div class="col-sm-12 offset-md-1 col-md-10">
    <div class="card-columns">
      <div [@listAnimation]="modelList.length">
          <app-course-card  [model]="course" *ngFor="let course of modelList"></app-course-card>
      </div>
    </div>
  </div>
</div>
<!-- /cards-row -->