<!-- loading-card -->
<div class="card card-plain" *ngIf="isLoading">
  <div class="card-body">
    <!-- card-row -->
    <div class="row">
      <div class="col-sm-12 text-center">
        <app-loading></app-loading>
      </div>
    </div>
    <!-- /card-row -->
  </div>
</div>
<!-- /loading-card -->
<!-- content-card -->
<div class="card card-plain" *ngIf="!isLoading">
  <div class="card-body">
    <!-- card-row -->
    <div class="row">
      <div class="col-sm-12">
        <!-- general-traces-chart -->
        <div class="card" data-color="gray">
          <div class="card-header">
            <h6 class="title">
              Datos generales
            </h6>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <app-multi-line-chart [Id]="'chart-general'" [chartInfo]="model.generalTraces">
              </app-multi-line-chart>
            </div>
          </div>
          <div class="card-body">
            <div class="table-full-width">
              <app-multi-line-table [model]="model.generalTraces" yaxis="Criterios">
              </app-multi-line-table>
            </div>
          </div>
        </div>
        <!-- /general-traces-chart -->
      </div>
      <!-- challenge-traces-charts -->
      <div class="col-sm-12" *ngFor="let challengeTrace of model.challengeTraces">
        <div class="card">
          <div class="card-header">
            <h6 class="title">{{challengeTrace.challengeName}}</h6>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <app-multi-line-chart Id="challenge-{{challengeTrace.challengeId}}" [chartInfo]="challengeTrace.chartModel">
              </app-multi-line-chart>
            </div>
          </div>
          <div class="card-body">
            <div class="table-full-width">
              <app-multi-line-table [model]="challengeTrace.chartModel" yaxis="Criterios">
              </app-multi-line-table>
            </div>
          </div>
        </div>
      </div>
      <!-- /challenge-traces-charts -->
    </div>
    <!-- /card-row -->
  </div>
</div>
<!-- /content-card -->