<div class="card-header">

  <h5 class="card-title">
    <a routerLink="/account/register" class="btn btn-round btn-warning btn-icon btn-back">
      <i class="material-icons">arrow_back_ios</i>
    </a>
    Registro de estudiante
  </h5>
</div>
<!-- card-body -->
<div class="card-body" *ngIf="!isLoading">
  <p class="col-sm-12">
    Bienvenido. Por favor regálanos algunos de tus datos.
  </p>
  <form #registerForm="ngForm">
    <div class="row">
      <!-- email -->
      <div class="col-sm-12 col-md-6">
        <div class="form-group" [ngClass]="{'has-success': email.valid, 'has-danger': !email.valid && !email.pristine}">
          <label for="">
            <i class="material-icons">email</i> Email
          </label>
          <input [(ngModel)]="model.email" #email="ngModel" type="email" name="email" class="form-control" required email>
        </div>
      </div>
      <!-- /email -->
    </div>
    <div class="row">
      <!-- password -->
      <div class="col-sm-12 col-md-6">
        <div class="form-group" [ngClass]="{'has-success': password.valid, 'has-danger': !password.valid && !password.pristine}">
          <label for="">
            <i class="material-icons">lock</i> Contraseña
          </label>
          <input [(ngModel)]="model.password" #password="ngModel" type="password" type="password" name="password" class="form-control"
            required>
        </div>
      </div>
      <!-- /password -->
      <!-- password verify-->
      <div class="col-sm-12 col-md-6">
        <div class="form-group" [ngClass]="{'has-success': confirmPassword.valid, 'has-danger': !confirmPassword.valid && !confirmPassword.pristine}">
          <label for="">
            <i class="material-icons">lock</i> Repite la contraseña
          </label>
          <input [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel" type="password" name="confirmPassword" class="form-control"
            required>
        </div>
      </div>
      <!-- /password verify-->
    </div>
    <div class="row">
      <div class="col-sm-12">
        <hr>
      </div>
      <!-- name -->
      <div class="col-sm-12 col-md-6">
        <div class="form-group" [ngClass]="{'has-success': name.valid, 'has-danger': !name.valid && !name.pristine}">
          <label for="">
            <i class="material-icons">person</i> Nombres
          </label>
          <input [(ngModel)]="model.nombres" #name="ngModel" type="text" name="name" class="form-control" required>
        </div>
      </div>
      <!-- /name -->

      <!-- last name -->
      <div class="col-sm-12 col-md-6">
        <div class="form-group" [ngClass]="{'has-success': lastName.valid, 'has-danger': !lastName.valid && !lastName.pristine}">
          <label for="">
            <i class="material-icons">person</i> Apellidos
          </label>
          <input [(ngModel)]="model.apellidos" #lastName="ngModel" type="text" name="name" class="form-control" required>
        </div>
      </div>
      <!-- /last name -->

      <!-- age -->
      <div class="col-sm-5 col-md-4">
        <div class="form-group">
          <label for="">
            <i class="material-icons">timer</i> Edad
          </label>
          <input [(ngModel)]="model.edad" type="number" name="age" class="form-control" required>
        </div>
      </div>
      <!-- /age -->
      <!-- course -->
      <div class="col-sm-5 col-md-4">
        <div class="form-group">
          <label for="">
            <i class="material-icons">timer</i>
            grado
          </label>
          <input [(ngModel)]="model.grado" type="number" name="age" class="form-control" required>
        </div>
      </div>
      <!-- /course -->

      <!-- gender -->
      <div class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="">
            <i class="material-icons">face</i>
            Género
          </label>
          <select [(ngModel)]="model.genero" name="gender" class="form-control">
            <option value="{{option.value}}" *ngFor="let option of metadata.genderOptions">{{option.text}}</option>
          </select>
        </div>
      </div>
      <!-- /gender -->

      <!-- favorite subject -->
      <div class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="">
            <i class="material-icons">class</i>
            Materia favorita
          </label>
          <select [(ngModel)]="model.materiaFavorita" name="favoriteSubject" class="form-control">
            <option value="{{option.value}}" *ngFor="let option of metadata.favoriteSubjectOptions">{{option.text}}</option>
          </select>
        </div>
      </div>
      <!-- /favorite subject -->

      <!-- pcActivity -->
      <div class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="">
            <i class="material-icons">computer</i>
            Actividad favorita del pc
          </label>
          <select [(ngModel)]="model.actividadesPc" name="pcActivity"  class="form-control">
            <option value="{{option.value}}" *ngFor="let option of metadata.pcActivitiesOptions">{{option.text}}</option>
          </select>
        </div>
      </div>
      <!-- /pcActivity -->

      <!-- pcUse -->
      <div class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="">
            <i class="material-icons">computer</i>
            Frecuencia del uso del pc
          </label>
          <select [(ngModel)]="model.frecuenciaPc" name="pcFrecuency"  class="form-control">
            <option value="{{option.value}}" *ngFor="let option of metadata.pcFrecuencyOptions">{{option.text}}</option>
          </select>
        </div>
      </div>
      <!-- /pcUse -->

      <!-- psUsage -->
      <div class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="">
            <i class="material-icons">computer</i>
            Manejo del pc
          </label>
          <input name="manejoComputador" [(ngModel)]="model.manejoComputador" type="number" class="form-control" required>
        </div>
      </div>
      <!-- /pcUsage -->

      <!-- psKnowledge -->
      <div class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="">
            <i class="material-icons">computer</i>
            Manejo del pc
          </label>
          <input name="conocimientoComputador" [(ngModel)]="model.conocimientoComputador" type="number" class="form-control" required>
        </div>
      </div>
      <!-- /psKnowledge -->


    </div>

    <div class="row">

    </div>
    <!-- submit -->
    <div class="col-sm-12 mt-4">
      <div class="form-group text-center">
        <button class="btn btn-round btn-primary" [disabled]="!registerForm.form.valid" (click)="do_Registration()">
          Regístrate
        </button>
      </div>
    </div>
    <!-- /submit -->
  </form>
</div>
<!-- /card-body -->

<!-- card-body-loading -->
<div class="card-body" *ngIf="isLoading">
  <div class="row">
    <div class="col-sm-12 text-center">
      <app-loading></app-loading>
    </div>
  </div>
</div>
<!-- /card-body-loading -->