<div class="card-header">

  <h5 class="card-title">
    <a routerLink="/account/register" class="btn btn-round btn-warning btn-icon btn-back">
      <i class="material-icons">arrow_back_ios</i>
    </a>
    Registro de estudiante
  </h5>
</div>
<!-- card-body -->
<div class="card-body">
  <p class="col-sm-12">
    Bienvenido. Por favor regálanos algunos de tus datos.
  </p>
  <form>
    <div class="row">
      <!-- email -->
      <div class="col-sm-12 col-md-6">
        <div class="form-group">
          <label for="">
            <i class="material-icons">email</i> Email
          </label>
          <input type="email" name="email" class="form-control" required email>
        </div>
      </div>
      <!-- /email -->
    </div>
    <div class="row">
      <!-- password -->
      <div class="col-sm-12 col-md-6">
        <div class="form-group">
          <label for="">
            <i class="material-icons">lock</i> Contraseña
          </label>
          <input type="password" type="password" name="password" class="form-control" required>
        </div>
      </div>
      <!-- /password -->
      <!-- password verify-->
      <div class="col-sm-12 col-md-6">
        <div class="form-group">
          <label for="">
            <i class="material-icons">lock</i> Repite la contraseña
          </label>
          <input type="password" type="password" name="password" class="form-control" required>
        </div>
      </div>
      <!-- /password verify-->
    </div>
    <div class="row">
      <div class="col-sm-12">
        <hr>
      </div>
      <!-- name -->
      <div class="col-sm-12 col-md-6">
        <div class="form-group">
          <label for="">
            <i class="material-icons">person</i> Nombres
          </label>
          <input type="text" name="name" class="form-control" required email>
        </div>
      </div>
      <!-- /name -->

      <!-- last name -->
      <div class="col-sm-12 col-md-6">
        <div class="form-group">
          <label for="">
            <i class="material-icons">person</i> Apellidos
          </label>
          <input type="text" name="name" class="form-control" required email>
        </div>
      </div>
      <!-- /last name -->

      <!-- age -->
      <div class="col-sm-5 col-md-4">
        <div class="form-group">
          <label for="">
            <i class="material-icons">timer</i> Edad
          </label>
          <input type="number" name="age" class="form-control" required>
        </div>
      </div>
      <!-- /age -->
      <!-- course -->
      <div class="col-sm-5 col-md-4">
        <div class="form-group">
          <label for="">
            <i class="material-icons">timer</i>
            grado
          </label>
          <input type="number" name="age" class="form-control" required>
        </div>
      </div>
      <!-- /course -->

      <!-- gender -->
      <div class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="">
            <i class="material-icons">face</i>
            Género
          </label>
          <select name="" id="" class="form-control">
            <option value="0">Femenino</option>
            <option value="1">Masculino</option>
          </select>
        </div>
      </div>
      <!-- /gender -->

      <!-- favorite subject -->
      <div class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="">
            <i class="material-icons">class</i>
            Materia favorita
          </label>
          <select name="" id="" class="form-control">
            <option value="0">opcion defecto</option>
          </select>
        </div>
      </div>
      <!-- /favorite subject -->

      <!-- pcActivity -->
      <div class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="">
            <i class="material-icons">computer</i>
            Actividad favorita del pc
          </label>
          <select name="" id="" class="form-control">
            <option value="0">opcion defecto</option>
          </select>
        </div>
      </div>
      <!-- /pcActivity -->

      <!-- pcUse -->
      <div class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="">
            <i class="material-icons">computer</i>
            Frecuencia del uso del pc
          </label>
          <select name="" id="" class="form-control">
            <option value="0">opcion defecto</option>
          </select>
        </div>
      </div>
      <!-- /pcUse -->

      <!-- psUsage -->
      <div class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="">
            <i class="material-icons">computer</i>
            Manejo del pc
          </label>
          <input type="number" class="form-control">
        </div>
      </div>
      <!-- /pcUsage -->

      <!-- psKnowledge -->
      <div class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="">
            <i class="material-icons">computer</i>
            Manejo del pc
          </label>
          <input type="number" class="form-control">
        </div>
      </div>
      <!-- /psKnowledge -->


    </div>

    <div class="row">

    </div>
    <!-- submit -->
    <div class="col-sm-12 mt-4">
      <div class="form-group text-center">
        <button class="btn btn-round btn-primary" [disabled]="!loginForm.form.valid">
          Regístrate
        </button>
      </div>
    </div>
    <!-- /submit -->
  </form>
</div>
<!-- /card-body -->