<div class="row">
  <div class="offset-sm-1 col-sm-10 offset-md-3 col-md-6 offset-lg-4 col-lg-4" style="margin-top: 100px;">
    <!-- card -->
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">iniciar sesión</h5>
      </div>
      <!-- loading -->
      <div class="card-body" *ngIf="isLoading">
        <div class="col-sm-12">
          <app-loading></app-loading>
        </div>
      </div>
      <!-- /loading -->
      <!-- card-body -->
      <div class="card-body" *ngIf="!isLoading">
        <form #loginForm="ngForm" (ngSubmit)="onLogin()">
          <!-- email -->
          <div class="col-sm-12">
            <div class="form-group" [ngClass]="{'has-success': email.valid, 'has-danger': !email.valid && !email.pristine}">
              <label for="">
                <i class="material-icons">email</i> Email
              </label>
              <input type="email" #email="ngModel" name="email" [(ngModel)]="model.email" class="form-control form-control-success" required email>
            </div>
          </div>
          <!-- email -->
          <!-- password -->
          <div class="col-sm-12">
            <div class="form-group" [ngClass]="{'has-success': password.valid, 'has-danger': !password.valid && !password.pristine}">
              <label for="">
                <i class="material-icons">lock</i> Contraseña
              </label>
              <input #password="ngModel" type="password" name="password" class="form-control" [(ngModel)]="model.password" required>
            </div>
          </div>
          <!-- /password -->
          <!-- remember me -->
          <div class="col-sm-12">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" name="rememberme" type="checkbox" [(ngModel)]="model.rememberMe"> ¿Recuérdame?
                <span class="form-check-sign"></span>
              </label>
            </div>
          </div>
          <!-- /remember me -->
          <!-- submit -->
          <div class="col-sm-12 mt-4">
            <div class="form-group text-center">
              <button class="btn btn-round btn-primary btn-lg btn-block" [disabled]="!loginForm.form.valid">
                Ingresa en el sitio
              </button>
              <a href="" class="btn btn-info btn-link btn-block">¿Nuevo en el sitio? Regístrate</a>
              <a href="" class="btn btn-info btn-link btn-block">¿Olvidáste tu contraseña?</a>
            </div>
          </div>
          <!-- /submit -->
        </form>
      </div>
      <!-- /card-body -->
    </div>
    <!-- /card -->
  </div>
</div>