<!-- title-card -->
<div class="card">
  <!-- card-header -->
  <div class="card-header">
    <h6 class="float-left">{{model.nombreDesafio}}
    </h6>
    <button class="btn btn-info btn-round float-right mt-0" (click)="toggleGrades()">
      <fa-icon [icon]="gradesButtonIcon"></fa-icon> {{gradesButtonText}}
    </button>
  </div>
  <!-- /card-header -->
</div>
<!-- /title-card -->
<div class="row" *ngIf="showGrades">
  <div class="col-sm-12">
    <!-- result-card -->
    <div class="card" *ngFor="let grade of model.calificaciones; let i = index">
      <div class="card-body">
        <div class="row">
          <!-- grade-div -->
          <div class="col-sm-12">
            <h6>Intento #{{i+1}}</h6>
            <!-- info-row -->
            <div class="row">
              <!-- start-time -->
              <div class="col-sm-4 form-group">
                <label for="" class="control-label">
                  <fa-icon icon="hourglass-start"></fa-icon>
                  Tiempo inicio
                </label>
                <p>
                  {{grade.tiempoinicio | date}}
                </p>
              </div>
              <!-- /start-time -->
              <!-- end-time -->
              <div class="col-sm-4 form-group">
                <label for="" class="control-label">
                  <fa-icon icon="hourglass-end"></fa-icon>
                  Tiempo fin
                </label>
                <p>
                  {{grade.tiempoFinal | date}}
                </p>
              </div>
              <!-- /end-time -->
              <!-- elapsed-time -->
              <div class="col form-group">
                <label for="" class="control-label">
                  <fa-icon icon="stopwatch"></fa-icon>
                  Duración
                </label>
                <p>
                  {{grade.duracion}}
                </p>
              </div>
              <!-- /elapsed-time -->
            </div>
            <!-- /info-row -->
            <!-- scratch-valoration-row -->
            <app-scratch-results 
            [generalResult]="grade.resultadoGeneral"
            [spriteResults]="grade.resultadoSprites">
            </app-scratch-results>
            <!-- /scratch-valoration-row -->
            <!-- valoration-row -->
            <div class="col-sm-12 mt-5 px-5">
              <app-teacher-course-student-valoration>
              </app-teacher-course-student-valoration>
            </div>
            <!-- /valoration-row -->
          </div>
          <!-- /grade-div -->
        </div>
      </div>
    </div>
    <!-- /result-card -->
  </div>
</div>