<div class="row">
  <div class="col-sm-12 form-group text-left">
    <div class="form-check px-0">
      <label class="form-check-label">
        <input class="form-check-input" name="rememberme" type="checkbox"> ¿El estudiante completó satisfactoriamente los objetivos del desafío en éste intento?
        <span class="form-check-sign"></span>
      </label>
    </div>
  </div>
  <div class="col-sm-12 form-group mt-4">
    <label for="" class="control-label">¿Por qué?</label>
    <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
  </div>
  <div class="col-sm-12 text-center">
    <button class="btn btn-success">Calificar</button>
  </div>
</div>