<li class="nav-item" ngbDropdown>
  <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>
    <i class="material-icons">account_circle</i>
    <p>
      <span class="d-lg-none d-md-block">Cuenta de usuario</span>
    </p>
  </a>
  <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="dropdownBasic1">
    <div *ngIf="isLoggedIn">
      <a class="dropdown-item" href="#">
        Bienvenido
      </a>
      <a class="dropdown-item" href="#">
        Cerrar sesión
      </a>
    </div>
    <div class="text-center" *ngIf="!isLoggedIn">
      <a routerLink="/account/login" class="dropdown-item">
        Iniciar sesión
      </a>
      <a routerLink="/account/register/" class="dropdown-item">
        Regístrate
      </a>
    </div>
  </div>
</li>