<li class="nav-item" ngbDropdown>
  <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>
    <span class="mr-2" *ngIf="userModel">¡Hola {{userModel.username}}!</span>
    <fa-icon size="lg" icon="user-astronaut"></fa-icon>
  </a>
  <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="dropdownBasic1">
    <div *ngIf="isLoggedIn">
      <a routerLink="/account/login" class="dropdown-item" href="#">
        Cerrar sesión
      </a>
    </div>
    <div class="text-center" *ngIf="!isLoggedIn">
      <a routerLink="/account/login" class="dropdown-item">
        Iniciar sesión
      </a>
      <a routerLink="/account/register/" class="dropdown-item">
        Regístrate
      </a>
    </div>
  </div>
</li>