<div class="card card-plain">
  <div class="card-header">
    <h6 class="title">Estudiantes del curso</h6>
  </div>
</div>
<!-- no-content-card -->
<div class="card card-plain" *ngIf="!model.length">
  <div class="card-body">
    <p class="text-justify text-muted">Sin estudiantes. ):</p>
  </div>
</div>
<!-- /no-content-card -->
<div class="card" *ngIf="model.length" data-color="black" >
  <div class="card-body pt-0 px-0">
    <ul class="nav flex-column">
      <li routerLinkActive="active" class="nav-item" *ngFor="let item of model">
        <a [routerLink]="['student', item.id]" class="nav-link active" href="#">
          <p>
              <fa-icon icon="user-graduate"></fa-icon>
              {{item.name}}
          </p>
        </a>
      </li>
    </ul>
  </div>
</div>