<div class="row">
  <div class="col-sm-12">
    <!-- search-card -->
    <div class="card">
      <!-- card-body -->
      <div class="card-body">
        <!-- form-group -->
        <div class="form-group">
          <label for="" class="label-control">
            <i class="material-icons">search</i>
            Búsqueda de cursos
          </label>
          <input type="text" class="form-control" placeholder='Escribe aquí el nombre del curso...'>
        </div>
        <!-- /form-group -->
      </div>
      <!-- /card-body -->
    </div>
    <!-- /search-card -->
  </div>
</div>
<app-course-search-list>
</app-course-search-list>